* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arvo', serif;

  font-weight: 300;
}
.text-center {
  text-align: center;
}
.m-auto
body {
  
  overflow: hidden;
}
#title {
  margin-top: 10%;
}
.card-desc {
  margin: auto;
  width: 300px;
}
.card-title {
  margin-top: 50px;
  font-size: 2rem;
}
.card {
 
  
  
  margin: 7rem 0rem 0rem 0rem;
}
.card-description {
  margin: 10px auto;
  width: 80%;
}
.card-link {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #FFBC61;
  color: white;
}
.card-icon {
  cursor: pointer;
  font-size: 4rem;
  color:#1B1F23
}
.img-card {
  
  position: relative;
  width: 26rem;
  margin: 2rem 2rem 2rem 2rem;
}
.fa-check-circle {
  color: #4EB6AC;
  font-size: 5rem;
  margin-top: 2rem;
}
#svg {
  
  height: 466px;
  position: relative;
  
}

.svg {

  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  width: 55rem;
}
.img {
  width: 100%;
  height: 100%;
  border-radius: 1.2rem;
  
  object-fit: cover;
}
.card-content {
  position: absolute;
  bottom: 0;
  transition: 0.5s;
  height: 100%;
  left: 0;
  opacity: 0;
  border-radius: 15px 15px 15px 15px;
  background-color: #7510F7;
  width: 100%;
}
.cards {
  justify-content: space-around;
  
  
  display: flex;
  position: relative;
}
.cards-img {
  justify-content: center;
  
  
  display: flex;
  position: relative;
}
#heading {
  z-index: 0;
  margin: auto;
  height: 100vh;
  width: 100%;
  position: relative;
text-align: center;

}
.purple {
 
  margin: 0px;
  width: 100%;
  z-index: -1;
  height: fit-content;
  background-color: #7510F7;
}

label {
  display: block;
}
textarea {
  width: 60%;
  height: 500px;

  outline: none;
  border:none;
  border-radius: 6px;

}
input {
  width: 60%;
  outline: none;
  border:none;
  border-radius: 6px;
  height: 3rem;
}
a {
  text-decoration: none;
}
.form {
position: relative;
  width: 100%;
  height: 500px;
  padding: 1rem;
  
  margin-top: 10rem;
  height: fit-content;
  
  background-color: #7510F7;
}
.input {
  margin-top: 2rem;
}
.work {
  margin-top: 10rem;
  font-size: 2.5rem;
}

.icon {
  color: white;
  font-size: 5rem;
}
h1 {  
  
  line-height: 3rem;
  font-size: 50px;
  color: #141C3A
}
h2 {
  z-index: 1;
  font-weight: 200;
  line-height: 3.5rem;
  font-size: 25px;
  color: #141C3A;
}
.black {
  color: #141C3A;
}
.black a {

}
h3 {
  z-index: 1;
  line-height: 1rem;
  font-size: 30px;
  color: #141C3A;
}
.mt-1 {
  margin-top: 0.7rem;
}
.white {
  color: white;
}
p {
  z-index: 1;
  
  font-size: 18px;
  color: white;
}
.send {
  display: block;
  width: 200px;
  border: 2px solid  #7510F7;;
  color: white;
  background-color: transparent;  
  margin: 1rem auto;
}
.send-fb {
  display: inline;
  width: 200px;
  
  color: white;
  background-color: transparent;  
 
}
.fa-facebook {
  width: 155px;
  color: #0674E7;
  font-size: 4rem;
}
button {
  font-weight: 600;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  border: none;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  
  font-size: 1.7rem;
  background-color: white;
}
.container {
  padding: 1rem;
  border-radius: 10px;
  background-color: #141C3A;
  width: fit-content;
  margin: auto;
}
.title {
  
  height: 120px;
}
.btn-mywork {
  color: white;
  background-color: #7510F7;
  margin: 1rem 1rem 0 0;
}

#hire-me {
  display: inline;
  color: white;
  
  
  background-color: #7510F7;
}

.mt-4 {
  margin-top: 2rem;
}
label {
  color: white;
  font-size: 1.5rem;
}

@media(hover:hover) {
  .btn-mywork:hover {

    background-color: #5f0eca;
    
  }
  .card-content:hover {
    opacity:90%;
  }

}

@media only screen and (max-width: 1000px) {
  h2 {
    
    
    line-height: 2rem;
    font-size: 22px;
    
  }
  h1 {  
  
    line-height: 3rem;
    font-size: 45px;
    
  }
  #hire-me {
    top: 30%;
  }
  button {
    font-size: 1.5rem;
  }

  .icon {
    font-size: 3.5rem;
  }
  .card-desc {
    font-size: 0.9rem;
    width: 250px;
  }
  .card-title {
    margin-top: 25px;
    font-size: 1.5rem;
    line-height: 1.7rem;
  }
  .fa-check-circle {
    font-size: 4rem;
  }
  .card {
    margin: 4rem 0rem 0rem 0rem;
  }
  .svg {
    width: 40rem;
    bottom: -95px;
  }
  #svg {
    height: 330px;
    
   
  }
  .cards-img {
    align-items: center;
    flex-direction: column;
  }
  .img-card {
    width: 80%;
  }
}

@media only screen and (max-width: 700px) {
  h2 {
    
    
    line-height: 1.4rem;
    font-size: 19px;
    
  }
  h1 {  
  
    line-height: 3rem;
    font-size: 40px;
    
  }
  #hire-me {
    top: 30%;
  }
  button {
    font-size: 1.2rem;
  }
  .icon {
    font-size: 3rem;
  }
  .card-desc {
    font-size: 0.7rem;
    width: 170px;
  }
  .card-title {
    margin-top: 18px;
    font-size: 1.2rem;
    line-height: 1.2rem;
  }
  .fa-check-circle {
    font-size: 2.9rem;
  }
  .card {
    margin: 3rem 0rem 0rem 0rem;
  }
  .svg {
    width: 30rem;
    bottom: -134px;
  }
  #svg {
    height: 250px;
    
    
  }
  .cards-img {
    align-items: center;
    flex-direction: column;
  }
  .img-card {
    width: 80%;
  }
}

@media only screen and (max-width: 600px) {
  h2 {
    
    
    line-height: 1.2rem;
    font-size: 15px;
    
  }
  h1 {  
  
    line-height: 2.5rem;
    font-size: 35px;
    
  }
  #hire-me {
    top: 26.5%;
  }
  button {
    font-size: 1rem;
  }
  .icon {
    font-size: 3rem;
  }
  .card-desc {
    font-size: 0.7rem;
    width: 120px;
  }
  .card-title {
    margin-top: 18px;
    font-size: 1rem;
    line-height: 1.2rem;
  }
  .fa-check-circle {
    font-size: 2.9rem;
  }
  .card {
    margin: 3rem -2rem 0rem -2rem;
  }
  .svg {
    max-width: 100%;
    width: 25rem;
    bottom: -153px;
  }
  #svg {
    height: 200px;
   
    
  }
  .cards-img {
    align-items: center;
    flex-direction: column;
  }
  .img-card {
    width: 80%;
  }
}